<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en'>
  <head>
    {% include header.html %}
  </head>
  <body data-spy="scroll" data-target="#side-navigation">

    {% include navigation.html %}

    <div class='container'>
      <div class='row'>
        <div class='col-md-4'>
          <div class="bs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav bs-sidenav">
            {% for post in site.posts limit:15 %}
            <li><a href="{{ post.url }}"><strong>{{ post.date | date_to_string }} &raquo;</strong> {{ post.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class='col-md-8'>
          <h1>{{ page.title }}</h1>
          <p><small>{{ page.date | date_to_string }} by {{ page.author }}</small></p>
          <hr/>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
